.result-page {
  h2 {
    font-weight: 200;
  }
}

.result-container {
  font-family: 'Magorian Regular', serif;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
}

.result-page-result {
  margin-bottom: 4rem; 
  p {
    font-size: 3rem;
  }
}

.result-page-house-name {
  font-size: 7rem;
  padding-top: 15rem;
}

.result-page-share-social-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.result-page-share-social {
  display: inline-block;
  
  i {
    padding: 0 .8rem;
    cursor: pointer;

    img {
      width: 3.5rem;
    }
  }
}

.result-page-button {
  font-size: 1.1rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  border: .1rem solid #fff;
  text-decoration: none;
  transition: all .5s;
  cursor: pointer;
  margin: 5rem 3rem;
  background: 0 0;
  padding: 1.3rem 2.2rem;
  font-weight: 500;
  color: #fff;
}

.result-page-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}