.quiz-intro {
  font-family: 'Magorian Regular', serif;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #810041;
  color: #fff;
  text-align: center;  
  animation: fadeIn 3s ease;
}

.quiz-intro-section {
  width: 50%;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.quiz-intro-section-title {
  font-size: 5rem;
}

.quiz-intro-section-title,
.quiz-intro-section-sub-title {
  font-weight: 200;
  margin: 1rem 0;
}

.quiz-intro-divider {
  position: relative;
  display: block;
  width: auto;
  margin: auto 0;
  padding: 15% 0;
}

.quiz-intro-divider:before {
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 50%;
  left: 50%;
  margin: 0 0 2rem;
  border-left: .1rem solid #fff;

  content: '';
}

.quiz-intro-divider:after {
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-left: 0;
  margin-top: 2rem;
  left: 50%;
  right: 0;
  border-left: .1rem solid #fff;
  content: '';
}

.quiz-intro-button {
  font-size: 1.1rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  border: .1rem solid #fff;
  text-decoration: none;
  transition: all .5s;
  cursor: pointer;
  margin: 5rem auto 1rem;
  background: 0 0;
  padding: 1.3rem 2.2rem;
  font-weight: 500;
  color: #fff;  
  margin: 4rem 2rem;
}

.quiz-intro-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #333;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}