.homepage {
  display: flex;
  margin: 6rem 0;
  justify-content: center;
  align-items: center;
  animation: fadeIn .5s ease;
}


@media screen and (max-width: 800px) {
  .homepage {
    margin: 3rem 0;
  }
}