.welcome-page-container {
  overflow: hidden;
}

.welcome-page {
  height: 100vh;
  background-size: cover;
  background-image: url('../assets/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 4s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  
  &:hover {
    transform: scale(1.1) translate3d(0,0,0); 
  }
}

.go-to-homepage {
  opacity: 0; 
  font-size: 3rem;
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  display: block;
  text-decoration: none;
  transition: all .5s;
  cursor: pointer;
  color: #b8b5b5;
  transform: translateY(-6rem);
}


@media screen and (max-width: 800px) {
  .welcome-page-container {
    overflow: hidden;
  }
  
  .welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    
    &:hover {
      transform: unset;
    }
  }
  
  .go-to-homepage {
    position: absolute;
    top: 30%;
    opacity: 0; 
    font-size: 3rem;
    height: 10rem;
    width: unset;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    transition: all .5s;
    cursor: pointer;
    color: #b8b5b5;
    transform: unset;  
  } 
}