.character-details-page-container {
  display: flex;
  justify-content: center;
  background-color: rgba(85, 74, 74, 0.4);
}
.character-details-page {
  z-index: 10;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: .1rem solid #666;
  margin-top: 3rem;
  margin-bottom: 1rem;
  background-color: white;
  padding-bottom: 3rem;
  margin-left: 2.5rem;
  font-size: 1.7rem;
  box-shadow: .3rem .5rem 1rem #666;
  animation: slideUp .3s ease-out;
}

.character-details-page-header {
  display: flex;
  flex-direction: column; 
  margin-bottom: 3rem;
  
  .character-details-title {
    padding: .5rem 0;
  }
  .profile-pics {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
    align-self: center;

    .display-picture {
      display: block;
      border: .1rem solid rgb(180, 179, 179);
      margin-bottom: 2rem;
    }

    .signature {
      max-height: 8rem;
      margin: 1rem 0;
    }

  }  
}

.character-details-sections-container {
  display: flex;
  justify-content: center; 
}

.character-details-sections {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  border: .1rem solid black;
}

.character-details-section {
  display: flex;
  flex-direction: column;

  &:empty {
    display: none;
  }

  .character-details-section-title {
    display: block;
    padding: .3rem 0;
    margin-bottom: 1rem;

    &:only-child {
      display: none;
    }
  }
  .character-details-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
    text-align: center;
    width: 70%;
    margin-left: 11rem;
    margin-bottom: .3rem;
    
    .character-details-section-content-att {
      flex: 1;
      padding: 0 .5rem;
      text-align: left;
    }
    .character-details-section-content-list {
      text-transform: capitalize;
      text-align: left;
      flex: 2;
      padding: .4rem 0;

      li {
        padding: .3rem 0;
      }
    }
  }
}

li {
  list-style: none;
}

.back-button {
  position: fixed;
  top: 2rem;
  left: 2rem;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  &:active {
    transform: translateY(5%);
  }
}


@media screen and (max-width: 800px) {
  .character-details-page {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: unset;
    margin: 8rem 0 1rem 0;
    background-color: white;
    padding-bottom: 3rem;
    font-size: 1.7rem;
    box-shadow: .3rem .5rem 1rem #666;
    animation: slideUp .3s ease-out;
  }
  
  .character-details-page-header {
    display: flex;
    flex-direction: column; 
    margin-bottom: 3rem;
    
    .character-details-title {
      padding: .5rem 0;
    }
    .profile-pics {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      max-width: 70%;
      align-items: center;
      align-self: center;
  
      .display-picture {
        width: 100%;
        display: block;
        border: .1rem solid rgb(180, 179, 179);
        margin-bottom: 2rem;
      }
  
      .signature {
        max-height: 8rem;
        margin: 1rem 0;
      }
  
    }  
  }
  
  .character-details-sections-container {
    display: flex;
    justify-content: stretch; 
  }
  
  .character-details-sections {
    width: 100%;
    border: unset;
  }
  
  .character-details-section {
    display: flex;
    flex-direction: column;
  
    &:empty {
      display: none;
    }
  
    .character-details-section-title {
      display: block;
      padding: .3rem 0;
      margin-bottom: 1rem;
  
      &:only-child {
        display: none;
      }
    }
    .character-details-section-content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem 1rem;
      text-align: center;
      width: 100%;
      margin: .5rem auto;
      
      .character-details-section-content-att {
        flex: 1;
        padding: 0 .5rem;
        text-align: left;
      }
      .character-details-section-content-list {
        text-transform: capitalize;
        text-align: left;
        flex: 1;
        padding: .4rem 0;
  
        li {
          padding: .3rem 0;
        }
      }
    }
  }
  
  li {
    list-style: none;
  }
  
  .back-button {
    position: fixed;
    top: 2rem;
    left: 45vw;
  
    &:hover {
      opacity: unset;
    }
  
    &:active {
      transform: unset;
    }
  } 
}