.character-card {
  min-height: 33rem;  
  width: 24rem;
  margin: 3rem 2rem;  
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-radius: .3rem;  
  border: white .3rem solid;
  box-shadow: .3rem .5rem 1rem #666 ;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  &:hover {
    transform: scale(1.05);
    box-shadow: .5rem .9rem 1.2rem #666 ;
  }
}

.character-card-image-container {
  img {
    max-height: 20rem;
    max-width: 17rem;
    margin-bottom: 1.2rem;
    margin-top: .9rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #807d7d;
  }
}

.character-card-info {
  text-transform: uppercase;
}

.character-card-info-name {
  font-family: 'Crimson Pro', serif;
  font-size: 2rem;
}