.characters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5rem;
  animation: fadeIn .4s ease;
}

.characters-list-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes slideLeft {
  0% {
    transform: translateX(140rem);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-140rem);
  }

  100% {
    transform: translate(0);
  }
}