.header {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 2rem;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.options-item {
  font-family: 'Crimson Pro', serif;
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
  height: auto;  
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    transform: translateY(-0.2rem); 
  }

  &:active {
    transform: translateY(0.2rem);    
  }

  &:last-child {
    margin-right: 4.5rem;
  }
}

