.header {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  padding-left: 4rem;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.options-item {
  font-family: 'Magorian Regular', serif;
  font-weight: 600;
  font-size: 4rem;
  text-transform: capitalize;
  padding: 10px 15px;
  cursor: pointer;
  height: auto;  
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    transform: translateY(-0.2rem); 
  }

  &:active {
    transform: translateY(0.2rem);    
  }

  &:last-child {
    margin-right: 7rem;
  }
}


@media screen and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    top: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .logo {
    width: 60%;
  }

  .options {
    display: flex;
    justify-content: space-around;
  }

  .options-item {
    font-size: 300%;
    &:last-child {
      margin-right: unset;
    }
  }
}

@media screen and (max-width:800px) {
  .options-item {
    font-size: 160%;
    &:last-child {
      margin-right: unset;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    background-color: #fff;
    top: 0;
  }
  
  .logo-container {
    width: 100%;
  }

  .logo {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .options {
    display: flex;
    justify-content: space-around;
  }
  
  .options-item {
    font-family: 'Magorian Regular', serif;
    font-weight: 600;
    font-size: 110%;
    text-transform: capitalize;
    padding: .5rem .5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &:last-child {
      margin-right: unset;
    }
  } 
}