.house-details-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem 10%;
  animation: slideUp .3s ease-out;
}

.house-details-header-title {
  font-size: 6rem;
  margin-bottom: 5rem;
}

.house-details-header-image-container {
  margin-bottom: 3rem;
  img {
    width: 30rem;
  }
}

.house-details-header-intro {
  font-size: 2.7rem;
  padding: 2rem 19%;
  text-align: justify;
  letter-spacing: .12rem;
  line-height: 1.3;
}

.house-details-attributes {
  font-size: 2.6rem;
  padding: 2rem 19%;
  margin-left: 5.5rem;
  text-align: justify;
  letter-spacing: .2rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  

  .house-details-attribute {
    margin: .8rem 0;
  }
}

.house-details-members-title {
  margin: 5rem 0;
  font-size: 5rem;
}


@keyframes slideUp {
  0% {
    transform: translateY(120rem);
  }

  100% {
    transform: translate(0);
  }
}


@media screen and (max-width: 1200px) {
  
  .house-details-header-title {
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  
  .house-details-header-image-container {
    width: 40%;    
    margin: 0 auto;
    margin-bottom: 3rem;
    img {
      height: auto;
      width: 100%;
    }
  }
  
  .house-details-header-intro {
    font-size: 120%;
    padding: 1rem 10%;
    text-align: left;
    letter-spacing: .1rem;
    line-height: 1.3;
  }
  
  .house-details-attributes {
    font-size: 120%;
    padding: 1rem 10%;
    margin: 0 auto;
    text-align: left;
    letter-spacing: .1rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
  
    .house-details-attribute {
      margin: .8rem 0;
    }
  }
  
  .house-details-members-title {
    margin: 0 auto;
    font-size: 3rem;
  } 
}


@media screen and (max-width: 500px) {
  .house-details-header-title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .house-details-header-image-container {
    width: 80%;
  }

  .house-details-header-intro {
    font-size: 110%;
    padding: 1rem 10%;
    text-align: left;
    letter-spacing: .1rem;
    line-height: 1.3;
  }
  
  .house-details-attributes {
    font-size: 1.8rem;
  }
}