.menu-item {
  font-family: 'Magorian Regular', serif;
  font-weight: 800;
  font-size: 3.4rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;  
}

.menu-item-image {
  height: 30rem;
  border: #818181 solid .1rem;
  margin-bottom: .5rem;
  transition: all .5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);

  &:hover {
    transform: scale(1.03);
  }
}