.search-bar {
  text-align: center;  
  margin-bottom: 7rem;
  z-index: 1;
}

.search-input {  
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 4rem;
  width: 35rem;
  font-size: 2rem;
  font-family: 'Magorian Regular', serif
}


@media screen and (max-width: 1184px) {
  .search-bar {  
    margin-bottom: 2rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 24%;
    background-color: #fff;
  }
  
  .search-input {  
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border: .1rem solid #c5c5c5;
    font-size: 110%;
  }  
}

@media screen and (max-width: 800px) {
  .search-bar {  
    margin-bottom: 2rem;
    width: 90%;
  }
}