.spell-card {
  height: 38rem;  
  width: 31rem;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: .7rem;  
  border: 0.2rem solid transparent;
  box-shadow: .1rem .5rem 1rem #666;
  transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.05) translate3d( 0, 0, 0);
    box-shadow: .1rem .9rem 1.5rem #666;
    border: 0.2rem solid #dadada;
  }
}

.spell-card-image-container {
  margin-top: .5rem;
  margin: .5rem 1.5rem;
  height: 16rem;
  width: 90%;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.spell-card-image {
  width: 100%;
  height: 16rem;
}

.spell-card-info {
  width: 100%;
  line-height: 1.6;
  padding: 0 3.5rem;

  .spell-card-info-name {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7
    }
  }

  .spell-card-info-item {
    font-family: 'Magorian Regular', serif;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .spell-card {
    &:hover {
      transform: none;
    }
  }

  .spell-card-info {
    width: 100%;
    line-height: 1.5;
    padding: 0 3.5rem;
  
    .spell-card-info-name {
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1rem;
      cursor: pointer;
  
      &:hover {
        opacity: 0.7
      }
    }
  
    .spell-card-info-item {
      font-size: 1.6rem;
    }
  } 
}

@media screen and (max-width: 500px) {
  .spell-card {  
    width: 60vw;
    height: 75vw;

    &:hover {
      transform: unset;
    }
  }

  .spell-card-info {
    padding: 0 2rem;
  
    .spell-card-info-item {
      font-size: 1.4rem;
    }

    .spell-card-info-name {
      font-size: 1.8rem;
    }
  }
  .spell-card-image-container {
    margin-top: .5rem;
    margin: .5rem 1.5rem;
    height: 40%;
    width: 90%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }
  .spell-card-image {
    width: 100%;
    height: 100%;
  }
}