.spell-card {
  height: 45rem;  
  width: 35rem;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: .7rem;  
  border: 0.2rem solid #807d7d;
  box-shadow: .3rem .5rem 1rem #666 ;
  transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  // &:hover {
  //   transform: scale(1.05);
  //   box-shadow: .5rem .9rem 1.2rem #666 ;
  // }
}

.spell-card-image-container {
  margin-top: 1.5rem;
  max-width: 40rem;
  border-radius: 0.5rem;
  text-align: center;  
  cursor: pointer;

  .spell-card-image {
    max-width: 90%;    
    height: 18rem;
  }

  .watch {
    position: fixed;
    top: 50%;
    left: 50%;
    border: .2rem solid #747474;
    border-radius: .2rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(-50%,-50%,10rem) scale(2.3);
  }
}

.spell-card-info {
  width: 100%;
  line-height: 1.8;
  padding: 0 5rem;

  .spell-card-info-name {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7
    }
  }

  .spell-card-info-item {
    font-family: 'Magorian Regular', serif;
    font-size: 1.9rem;
    text-transform: capitalize;
    text-align: left;
  }
}
