* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color:#333;  
  /* background: #a73737;  
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);  
  background: linear-gradient(to right, #7a2828, #a73737);  */
  background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(238,238,238,1) 50%);
}

a {
	text-decoration: none;
	color: #333;
}